{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>
<div class="card card-video card-shadowed card-clickable"></div>



{% endblock %}
