<form action="{{ path('search_users') }}" method="get">
    <label>
        <input type="text" name="query" placeholder="Rechercher un artiste">
    </label>
    <button class="search_button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
