<form action="{{ path('search_users') }}" method="get">
    <label>
        <input type="text" name="query" placeholder="Parcourez les artistes ...">
    </label>
    <button class="search_button" type="submit">🔍</button>
</form>
