<form method="post" action="{{ path('app_artwork_delete', {'id': artwork.id}) }}" onsubmit="return confirm('Êtes-vous sûr de votre choix ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artwork.id) }}">
	<button class="btn btn-secondary" aria-label="Delete your artwork">Supprimer</button>
</form>
