{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle oeuvre
{% endblock %}

{% block body %}
	<section class="form_artwork">
		<h1>Ajouter une nouvelle oeuvre</h1>
		<div class="form_artwork">
			{{ include('artwork/_form.html.twig') }}
		</div>
	</section>
{% endblock %}
