{% extends 'base.html.twig' %}

{% block title %}New Artwork{% endblock %}

{% block body %}
<section class="form">
    <h1>Ajouter une nouvelle Oeuvre</h1>

    {{ include('artwork/_form.html.twig') }}
    
</section>
{% endblock %}
