@import "~bootstrap/scss/bootstrap";


:root {
  --background: #EBEAE5;
  --color: #7B652D;
  --font-color-black: #1D1D1D;
  --font-family-nav: "Montserrat-Alt1", Verdana, Geneva, Tahoma, sans-serif;
  --font-family-body: "Montserrat-Alt1 Thin", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--color);
}

body {
  background-color: var(--background);
}

// NAVBAR 

.nav-item,
.auth {
  font-family: var(--font-family-nav);
  font-size: larger;
}

.logo_nav {
  width: 4rem;
  height: 4rem;
}

.link {
  padding-left: 4rem;
}

a,
.auth {
  text-decoration: none;
  color: var(--color);
}

.navigation {
  background-color: #EBEAE5;
}

//////////////////////cards////////////////////////////////
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#card-area-categories,
#card-area-artistes,
.présentation {
  padding: 2rem 0;
  margin: 0 1rem;
}

.box-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  margin: 1rem;
  height: 25rem;
  flex: 0 0 calc(33.3333% - 2rem);
  max-width: calc(33.3333% - 2rem);
  box-sizing: border-box;
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  width: 100%;
  height: 0;
  background-color: rgba(123, 101, 45, 0.6);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.6s;
}

.overlay h3 {
  font-weight: 500;
  background-color: transparent;
  color: var(--background);
  font-family: var(--font-family-body);
  font-size: 30px;
  letter-spacing: 2px;
}

.overlay a {
  margin-top: 10rem;
  color: var(--background);
  text-decoration: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--background);
  border-radius: 10rem;
  text-align: center;
  padding: 5px 15px;
  font-family: var(--font-family-body);
}

.box:hover img {
  transform: scale(1.1);
}

.box:hover .overlay {
  height: 100%;
}

h1, h2 {
  font-family: var(--font-family-body);
  color: var(--color);
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color);
  border: none;
}

////////slider page d'accueil////////

.slides {
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 1rem 1rem, rgba(0, 0, 0, 0.35) 0rem -1rem 1rem;
}

.slide {
  position: absolute;
  height: 100%;
  opacity: 0;
  inset: 0;
  animation: slide-show 12s infinite;
}

.slide-2 {
  animation-delay: 4s;
}

.slide-3 {
  animation-delay: 8s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  
}

@keyframes slide-show {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20%,
  30% {
    opacity: 1;
    scale: 1.03;
  }

  50% {
    opacity: 0;
  }
}

/* Media queries for responsive design */

@media screen and (max-width: 1200px) {
  .box {
    flex: 0 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 768px) {
  .box {
    flex: 0 0 calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 368px) {
  .box {
    margin: 1rem 0;
  }
}


// FORM //

h1 {
  text-decoration:underline 0.1rem;
  text-align: center;
}

.form-button, .form-link, .form-button:hover {
  background: none;
  color: var(--color);
}

form.form_login{ 
  border: solid;
  max-width: 25rem;
  margin: auto;
}

fieldset {
  display: flex;
  padding: 1rem;
}

label {
  padding-right: 1rem;
  width: 5rem;
}

input, 
button {
  border-radius: 2rem;
  padding-left: 0.6rem;
}

button.form_login {
  margin-top: 1rem;
  margin: auto;
  width: 70%;
}

// Cards page categories //

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.gallery {
  width: 29%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.image-artwork {
  width: 100%;
}

/////// Media queries pour rendre le contenu des oeuvres plus responsive /////////

@media (max-width: 1200px) {
  .gallery {
    width: 48%; /////// Réduire la largeur des éléments sur les écrans moyens 
  }
}

@media (max-width: 768px) {
  .gallery {
    width: 100%; ///////: Utiliser la largeur totale sur les petits écrans 
  }
}

///////////////////////artwork,index///////////////////////

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.gallery {
  width: 29%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.gallery-image {
  width: 100%;
  height: 15rem; /* Ajustez la hauteur à votre préférence */
  overflow: hidden;
}

.image-artwork {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-text {
  border: #7B652D solid 1px;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.titre, .artwork-descovery{
  text-align: center;
}
//////////////////////////////artwork///////////////////////    
.user-image{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artwork-user{
  border-radius: 50%;
  max-width: 3rem;
}

.box-artwork,
.box-describ,
.mini-slides {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  margin: 1rem;
  min-height: 15rem;
}

.box-artwork img,
.mini-slides img,
.slide,
.slide-2,
.slide-3 {
  border-radius: 1rem;
}

.box-describ {
  padding: 1rem;
  width: 30rem;
  min-height: 20rem;
}

.mini-slides {
  width: 30rem;
  max-height: 5rem;
}

.box-artwork {
  flex: 0 0 calc(45% - 2rem);
  max-width: calc(45% - 2rem);
}

.box-right {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(35% - 2rem);
  max-width: calc(35% - 2rem);
}

/* Media queries for responsive design */
@media screen and (max-width: 1200px) {
  .box-artwork,
  .box-right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .box-describ,
  .mini-slides {
    width: 100%;
  }
}

@media screen and (max-width: 369px) {
  .box-artwork,
  .box-describ,
  .mini-slides,
  .box-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


///////////////////////magnified glass//////////////////////

.img-magnifier-container {
    position:relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: auto;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

////////////////////autres images de l'oeuvre//////////////////////

.slider-css-target{
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 auto;
}

.slider-css-target ul{
  padding: 0;
  list-style-type:none;
  display:flex;
  justify-content: space-between;
  gap:1rem;
}

.slider-css-target ul li img{
  display: block;
  
  max-height: 5rem;
  border: 2px solid white;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}
