@import "~bootstrap/scss/bootstrap";

:root {
  --background: #EBEAE5;
  --color: #7B652D;
  --font-family-nav: "Montserrat-Alt1", Verdana, Geneva, Tahoma, sans-serif;
  --font-family-body: "Montserrat-Alt1 Thin", Verdana, Geneva, Tahoma, sans-serif;

}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: var(--background);
}

// NAVBAR 

.nav-item, .auth {
  font-family: var(--font-family-nav);
  font-size: larger;
}

.logo_nav {
  width: 4rem;
  height: 4rem;
}

.link {
  padding-left: 4rem;  
}

a, .auth {
  text-decoration: none;
  color: var(--color);
}

//////////////////////cartes pour les tableaux////////////////////////////////

.navigation {
  background-color: #EBEAE5;
}

//////////////////////cartes pour les tableaux////////////////////////////////

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.navigation {
  background-color: #EBEAE5;
}

//////////////////////cartes pour les tableaux////////////////////////////////

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.navigation{
  background-color: #EBEAE5;
}

////////////////////////testt//////////////////

#card-area{
    padding: 50px 0;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem 10rem ;
    margin-top: 2rem;
    
}
.box {
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
	width: 100%;
	height: 0;
	background-color: rgba(123, 101, 45, 0.6);
  backdrop-filter: blur(5px);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.overlay h3 {
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 80%;
	font-family: var(--font-family-body);
	font-size: 30px;
	letter-spacing: 2px;
}
.overlay a {
	margin-top: 10px;
	color: #262626;
	text-decoration: none;
	font-size: 14px;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 5px 15px;
  font-family: var(--font-family-body);
}
.box:hover img{
    transform: scale(1.1);
}
.box:hover .overlay{
    height: 100%;
}
.overlay a {
  background-color: transparent;
}
h2{
  font-family: var(--font-family-body);
  color: var(--color);
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
hr{
  width: 100%;
  height: 1px;
  background-color: var(--color);
  border: none;
}
h3{
  background-color: transparent;
}


////////test////////

.slides{
  display: flex;
  justify-content: center;
        height: 70vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .slide{
        position: absolute;
        height: 100%;
        opacity: 0;
        inset: 0;
        animation: slide-show 12s infinite;
    }

    .slide-2{
        animation-delay: 4s;
    }

    .slide-3{
        animation-delay: 8s;
    }

    .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @keyframes slide-show{
        0%{
            opacity: 0;
        }
        10%{
            opacity: 1;
        }
        20%,
        30%{
            opacity: 1;
            scale: 1.03;
        }
        50%{
            opacity: 0;
        }
    }