<form action="{{ path('search_results') }}" method="get">
    <label>
        <input type="text" name="query" placeholder="Parcourez les oeuvres ...">
    </label>
    <button class="search_button" type="submit">🔍</button>
</form>
