<form action="{{ path('search_results') }}" method="get">
    <label>
        <input type="text" name="query" placeholder="Search for an artwork...">
    </label>
    <button type="submit">Search</button>
</form>
